---
---

$darkblue: #101F70;
$lightgray: #f5f5f5;
$mediumgray: #666;
$darkgray: #112;
$fontcolor: #484c55;

$header-height: 400px;
$header-height-md: 300px;


/* colors */

$text-color: #101F70;
$variant-color: #666;
$headline-color: #101F70;
$navigation-color: #101F70;
$background-color: #fefefe;
$footer-color: #999;
$footer-link-color: #999;
$footer-background-color: #001;

/* transitions */

$image-transition: opacity 2s ease-in-out;

/* responsive thresholds */

$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;

/* fonts */

@font-face {
    font-family: "DroidSans";
    src: url('../font/DroidSans.ttf');
}
@font-face {
    font-family: "DroidSans";
    src: url('../font/DroidSans-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "DroidSans-Mono";
    src: url('../font/DroidSansMono.ttf');
}
@font-face {
    font-family: "DroidSerif";
    src: url('../font/DroidSerif.ttf');
}
@font-face {
    font-family: "DroidSerif";
    src: url('../font/DroidSerif-Bold.ttf');
    font-weight: bold;
}
body {
    font-family: DroidSans, sans;
    color: $darkblue;
    background-color: $lightgray;
}
.mono, pre {
    font-family: DroidSans-Mono;
}
h1, h2, h3, h4, h5, h6, .navbar-nav a {
    font-family: DroidSerif, sans;
    font-weight: normal;
    color: $darkblue;
}

/* some overrides of general/bootstrap behavoir */

p {
    text-align: justify;
}
a,
a:visited,
a:focus {
    color: $darkblue;
    text-decoration: underline;
}
a:hover {
    color: $mediumgray;
    text-decoration: underline;
}
a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}
a.anchor-top {
    display: block;
    position: relative;
    top: 0;
    visibility: hidden;
}

/* headlines */

h1 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}
h2 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}
pre {
    margin-bottom: 10px;
}
dl dd {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* layout */

.wrapper {
    margin-top: 50px;
    min-height: 800px;
}
.block {
    margin-bottom: 40px;
}
.page,
.front {
    background-color: white;
}
.page {
    margin: 40px 0;
    padding: 40px;
}

@media (min-width: 1200px) {
    .page {
        margin-left: 140px;
        margin-right: 140px;
    }
}

/* navbar */

.navbar {
    border: none;

    &.navbar-inverse {
        background-color: $darkblue;

        a {
            font-family: DroidSans, sans;
            text-decoration: none;
        }
        .dropdown-menu {
            border-radius: 0;
        }
        .navbar-nav > .open>a,
        .navbar-nav > .open>a:focus,
        .navbar-nav > .open>a:hover {
	    background-color: rgba(255, 255, 255, 0.2)
        }
    }
}

/* team and partner */

.team-member {
    height: 140px;
    margin-bottom: 20px;

    img {
        display: block;
        float: left;
        height: 140px;
        width: 140px;
        border-radius: 50%;
    }
    .team-member-info {
        padding-left: 40px;
        height: 140px;
        display: table-cell;
        vertical-align: middle;
    }

    @media (max-width: 768px) {
        height: auto;
        margin-top: 20px;

        img {
            float: none;
            margin: 0 auto;
        }

        .team-member-info {
            margin-top: 20px;
            padding: 0;
            height: auto;
            display: block;
        }
    }
}

/* home */

.home {
    height: 100%;
}

/* header */

header {
    position: relative;

    height: $header-height;
    background-color: black;

    .header-image {
        position: absolute;
        left: 0;
        right: 0;

        opacity: 0;
        -webkit-transition: $image-transition;
        -moz-transition: $image-transition;
        -ms-transition: $image-transition;
        -o-transition: $image-transition;
        transition: $image-transition;
    }
    .header-image.visible {
        opacity: 1;
    }
    .header-image img {
        width: 100%;
        height: $header-height;
    }
    .header-image p {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;

        padding-right: 5px;
        margin-bottom: 5px;
        font-size: 10px;
        color: $footer-link-color;
    }
    .header-image a,
    .header-image a:visited,
    .header-image a:hover {
        color: $footer-link-color;
    }
    .header-text {
        position: relative;
        padding-top: 160px;
        width: 768px;
    }
    .header-text h1 {
        font-size: 80px;
        color: white;
        text-align: center;
    }
    .header-text p {
        font-size: 24px;
        color: white;
        text-align: center;
    }
    @media (max-width: $screen-md-max) {
        height: $header-height-md;

        .header-image img {
            height: $header-height-md;
        }
        .header-text {
            padding-top: 50px;
        }
    }
    @media (max-width: $screen-xs-max) {
        background-color: inherit;
        height: auto;

        .header-text {
            padding-top: 20px;
            width: auto;
        }
        .header-text h1 {
            font-size: 40px;
            color: $headline-color;
        }
        .header-text p {
            font-size: 20px;
            color: $variant-color;
        }
    }
}

/* footer */
footer {
    background-color: $darkgray;
    color: #999;
    padding-top: 40px;
    padding-bottom: 20px;

    .footer-col{
        padding-bottom: 20px;
    }
    a,
    a:visited {
        color: #999;
    }
    h3 {
        color: #999;
    }
    p {
        text-align: left;
    }
    img {
        display: block;
    }
    .aip-logo {
        width: 70%;
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .fhp-logo {
        width: 70%;
        padding-bottom: 20px;
    }
    .kit-logo {
        width: 30%;
    }
    .dfg-logo {
        width: 70%;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}

/* map */

.map {
    height: 600px;
    margin-bottom: 20px;

    .leaflet-popup-content-wrapper {
        border-radius: 0;
    }

    .legend {
        background-color: white;
        padding: 4px 8px;

        p {
            margin-bottom: 5px;
        }
        p:last-child {
            margin-bottom: 0;
        }
        img {
            height: 20px;
            margin-right: 5px;
        }
    }
}

.talks {
    li {
        margin-bottom: 10px;
    }
}

video {
    width: 100%;
    margin-bottom: 20px;
}