---
layout: page

key: team
lang: de

# team data moved to _data/team.yml

---

<h1>Team</h1>

{% for member in site.data.team.current %}
<div class="team-member">
    <img src="{{ site.baseurl }}{{ member.image}}" />
    <div class="team-member-info">
        {{ member.text.de | markdownify }}
    </div>
</div>
{% endfor %}

<h2>Ehemalige Mitarbeiterinnen und Mitarbeiter</h2>

{% for member in site.data.team.former %}
<div class="team-member">
    <img src="{{ site.baseurl }}{{ member.image}}" />
    <div class="team-member-info">
        {{ member.text.de | markdownify }}
    </div>
</div>
{% endfor %}


