    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h4>Kontakt</h4>
                    <p>
                        <a href="mailto:rdmo-contact@listserv.dfn.de">rdmo-contact@listserv.dfn.de</a>
                    </p>
                    <p>
                        <a rel="me" href="https://openbiblio.social/@rdmo">@rdmo@openbiblio.social</a>
                    </p>
                </div>
                <div class="footer-col col-md-4">
                    <h4>Mailinglisten</h4>
                    <p>
                        <a href="https://www.listserv.dfn.de/sympa/subscribe/rdmo">Allgemeine RDMO-Mailingliste</a>
                        <a href="https://www.listserv.dfn.de/sympa/subscribe/rdmo-contentgruppe">RDMO-Content-Mailingliste</a>
                    </p>
                    <h4>Impressum</h4>
                    <p>
                        Diese Webseite wird vom <a href="http://www.aip.de">Leibniz-Institut für Astrophysik Potsdam (AIP)</a> betrieben. Es gilt das <a href="http://www.aip.de/de/impressum">Impressum des AIP</a>.
                    </p>
                </div>
                <div class="footer-col col-md-4">
                    <h4>Open Source</h4>
                    <div>
                        RDMO ist auf <a href="https://github.com/rdmorganiser">github.com</a> veröffentlicht.
                    </div>
                </div>
            </div>
        </div>
    </footer>
