<script src="{{ site.baseurl }}/js/header.js"></script>

<header>
  <div class="hidden-xs">
    <div class="header-image">
      <img src="{{ site.baseurl }}/img/header/supercomputer.jpg"></img>
      <p class="attribution"><a href="https://www.flickr.com/photos/nasa_goddard/6559334541">Discover Supercomputer 3 (NASA Goddard Space Flight Center)</a> / <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></p>
    </div>
    <div class="header-image">
      <img src="{{ site.baseurl }}/img/header/collection.jpg"></img>
      <p class="attribution"><a href="https://www.flickr.com/photos/bulle_de/9221247815">Nasssammlung (Christopher Bulle)</a> / <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></p>
    </div>
  </div>
	<div class="container header-text">
    <h1>RDMO</h1>
    <p>Research Data Management Organiser</p>
  </div>
</header>
