    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}{{ site.data.navigation.index.path[page.lang] }}">RDMO</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    {% for navitem in site.data.navigation %}
                    {% if navitem[1].label %}
                    <li>
                        <a href="{{ site.baseurl }}{{ navitem[1].path[page.lang] }}">
                            {{ navitem[1].label[page.lang] }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ site.baseurl }}{{ site.data.navigation[page.key].path.de }}">
                            {% if page.lang == 'de' %}
                                <u>Deutsch</u>
                            {% else %}
                                <span>Deutsch</span>
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}{{ site.data.navigation[page.key].path.en }}">
                            {% if page.lang == 'en' %}
                                <u>English</u>
                            {% else %}
                                <span>English</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
