<li class="publication">
    {{ publication.authors }} ({{ publication.date }}).<br />
    <b>{{ publication.title }}</b> [{{ publication.type }}].<br />
    {% if publication.doi %}DOI: <a href="https://doi.org/{{ publication.doi }}">{{ publication.doi }}</a>.
    {% elif publication.urn %}URN: <a href="https://nbn-resolving.org/{{ publication.urn }}">{{ publication.urn }}</a>.
    {% elif publication.uri %}URL: <a href="{{ publication.uri }}">{{ publication.uri }}</a>.
    {% endif %}<br /><br />
</li>
