---
layout: base
---

<link href="{{ site.baseurl }}/css/header.css" media="screen" rel="stylesheet" type="text/css">
<script src="{{ site.baseurl }}/js/header.js"></script>

<header>
    <div class="hidden-xs">
        <div class="header-image header-image-0 visible">
            <img src="{{ site.baseurl }}/img/header/library.jpg"></img>
            <p class="attribution">
                <a href="https://www.flickr.com/photos/spam/5086168739">Stockholm Public Library (Samantha Marx)</a> / <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
            </p>
        </div>
        <div class="header-image header-image-1">
            <img src="{{ site.baseurl }}img/header/supercomputer.jpg"></img>
            <p class="attribution">
                <a href="https://www.flickr.com/photos/nasa_goddard/6559334541">Discover Supercomputer 3 (NASA Goddard Space Flight Center)</a> / <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
            </p>
        </div>
        <div class="header-image header-image-2">
            <img src="{{ site.baseurl }}img/header/collection.jpg"></img>
            <p class="attribution">
                <a href="https://www.flickr.com/photos/bulle_de/9221247815">Nasssammlung (Christopher Bulle)</a> / <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
            </p>
        </div>
    </div>
    <div class="container header-text">
        <h1>DMPwerkzeug</h1>
        <p>Entwicklung und Implementierung eines Werkzeugs für die Planung, Umsetzung und Kontrolle des Forschungsdatenmanagements</p>
    </div>
</header>

<div class="container">
    <div class="page">
        <h2>{{ page.title }}</h2>

        {{ content }}
    </div>
</div>
